//
// ICONBOX
// 

.iconbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.375rem;
    min-width: 2.8rem;
    width: 2.8rem;
    height: 2.8rem;

    i {
        font-size: 1.125rem;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    &.icon-xl {
        min-width: 5rem;
        width: 5rem;
        height: 5rem;

        i {
            font-size: 2.25rem;
        }

        svg {
            width: 4rem;
            height: 4rem;
        }
    }

    &.icon-lg {
        min-width: 4rem;
        width: 4rem;
        height: 4rem;

        i {
            font-size: 1.75rem;
        }

        svg {
            width: 1.875rem;
            height: 1.875rem;
        }
    }

    &.icon-md {
        min-width: 3.5rem;
        width: 3.5rem;
        height: 3.5rem;

        i {
            font-size: 1.75rem;
        }

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &.icon-sm {
        min-width: 2rem;
        width: 2rem;
        height: 2rem;

        i {
            font-size: 0.875rem;
        }

        svg {
            width: 0.8rem;
            height: 0.8rem;
        }
    }
}

// Iconbox color varient
@each $name,
$color in $theme-colors {
    .iconbox-#{$name} {
        background-color: $color;
        color: color-yiq($color);
    }
}

// Iconbox soft color varient
@each $name,
$color in $theme-colors {
    .iconbox-soft-#{$name} {
        background-color: mix($color, $white, 10%);
        color: $color;
    }
}



// Reading icon
.icon-reading-glass {
    height: 1.375rem;
    width: 1.375rem;
    display: inline-block;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='22' height='22' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E %3Cpath fill='%23fff' d='M503.591,235.001c-0.353-10.05-7.841-18.255-17.773-19.537l-7.84-1.021l-101.188-74.568 c-19.68-14.525-44.54-19.278-68.199-12.927c-8.479,2.254-13.536,10.99-11.266,19.471c2.272,8.495,11.088,13.533,19.471,11.261 c14.238-3.79,29.245-0.992,41.134,7.792l60.74,44.761c-12.494,0.225-25.002,1.058-37.497,2.787 c-19.038,2.623-38.121,6.653-56.073,11.853l-9.617,1.889c-37.238,7.327-75.637,7.421-113.245,0.271l-10.852-2.013 c-18.59-5.347-37.689-9.377-56.741-12c-12.495-1.729-25.008-2.563-37.503-2.787l60.746-44.761 c11.885-8.767,26.891-11.564,41.133-7.792c8.428,2.291,17.193-2.752,19.467-11.261c2.271-8.48-2.78-17.217-11.263-19.471 c-23.644-6.365-48.505-1.599-68.198,12.927L37.82,214.457l-7.791,1.007c-9.965,1.282-17.439,9.506-17.774,19.537l-0.641,17.742 c-0.271,8.526,4.735,16.3,11.698,18.954c2.975,1.555,4.896,4.161,5.086,6.977l2.272,33.471c4,40.393,37.546,71.623,78.038,72.661 l37.293,0.976c27.835,0,53.32-14.188,68.327-38.202l30.091-52.843c2-2.989,7.518-4.063,12.494-4.063 c0.049,0,2.224-0.031,2.224-0.031c4.771,0,10.4,1.28,12,3.632l30.54,53.592c14.846,23.729,40.331,37.916,68.166,37.916l37.276-0.976 c40.491-1.038,74.042-32.269,78.073-72.902l2.254-33.229c0.191-2.815,2.099-5.422,4.271-6.624 c7.76-3.007,12.785-10.78,12.495-19.324L503.591,235.001z M408.193,245.878c5.661,0,10.624,0.286,14.783,0.848 c13.437,1.808,27.259,10.673,27.868,26.397l1.358,34.25c0.463,11.698-3.692,22.879-11.66,31.521 c-7.971,8.604-18.781,13.613-30.46,14.063c0,0-29.263,1.119-30.892,1.149c-53.327,0-68.428-53.178-69.033-55.338 c-2.499-9.952-0.721-20.589,4.896-29.195c5.63-8.642,14.65-14.576,24.763-16.303C369.029,248.293,391.396,245.878,408.193,245.878z M136.736,354.105c-1.728-0.03-30.972-1.149-30.972-1.149c-11.693-0.449-22.509-5.458-30.478-14.063 c-7.965-8.642-12.126-19.822-11.663-31.521l1.359-34.25c0.61-15.725,14.433-24.59,27.872-26.397 c16.557-2.206,44.14-0.112,83.156,6.544c10.112,1.727,19.132,7.661,24.767,16.285c5.612,8.624,7.39,19.261,4.909,29.118 C205.063,300.928,189.963,354.105,136.736,354.105z'/%3E %3C/svg%3E");
}

// Check Icons
.say-yes {
    position: relative;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 auto;

    &::before {
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: middle;
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 24 24' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E %3Cpath fill='%2314b89c' d='m9.707 19.121c-.187.188-.442.293-.707.293s-.52-.105-.707-.293l-5.646-5.647c-.586-.586-.586-1.536 0-2.121l.707-.707c.586-.586 1.535-.586 2.121 0l3.525 3.525 9.525-9.525c.586-.586 1.536-.586 2.121 0l.707.707c.586.586.586 1.536 0 2.121z'/%3E%3C/g%3E%3C/svg%3E");

    }
}

.check-true,
.check-false {
    position: relative;
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 auto;

    &::before {
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: middle;
        display: inline-flex;
    }

    &.check-true-sm {
        height: 1rem;
        width: 1rem;

        &::before {
            height: 1rem;
            width: 1rem;
        }
    }
}

.check-true {
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='%2314b89c'/%3E%3Cpath d='m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0' fill='%23fafafa'/%3E%3C/svg%3E");
    }
}

.check-false {
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='%23fd3f5c'/%3E%3Cpath d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='%23fafafa'/%3E%3C/svg%3E");
    }
}